@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sticker-orange: #f97805;
  --sticker-brown: #4e2817;
  --sticker-gray: #f3f3f3;
  --sticker-text: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sticker-orange: var(--sticker-orange);
  --color-sticker-brown: var(--sticker-brown);
  --color-sticker-gray: var(--sticker-gray);
  --color-sticker-text: var(--sticker-text);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
